/* TODO: style the html */

html {
	font: 18/1.5 Helvetica, sans-serif;
}

body {
	font: inherit;
	background-color: white;
}

article {
	margin: 3em;
	padding: 2em;
	border-radius: 0.9em;
	color: white;
	background-color: rgb(51, 102, 153);
	text-indent: 2.2em;
	width: 80ch;
}

h1 {
	font-family: Georgia, serif;
}
