/* TODO: style the html */

body {
	background-color: #02475e;
}

article h2 {
	font-size: 36px;
	color: #fefecc;
	margin: 12px;
	text-align: center;
}

article p {
	font-family: Arial, sans-serif;
	line-height: 24px;
	color: #eee;
	padding: 10px;
	text-indent: 30px;
}

article div {
	border-top: 2px solid #fff;
	margin-bottom: 30px;
	position: relative;
	top: 20px;
}

article span {
	width: 120px;
	font-size: 14px;
	padding: 3px 5px;
	margin: 0 auto;
	display: block;
	position: relative;
	text-align: center;
	top: -11px;
	background-color: #fff;
}
