* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

span {
	border: 1px solid black;
	text-align: center;
	display: block;
	flex-grow: 1;
}

.container {
	height: 50vh;
	max-width: 65vw;
	display: flex;
	margin: 2em auto;
}

.week {
	display: flex;
	flex-wrap: wrap;
}

.notes {
	display: flex;
	flex-direction: column;
}

.week-work,
.week-rest {
	flex: 1 1 100%;
}
