ul {
	list-style: none;
}

li {
	display: inline-block;
	margin: 0 0.5em;
}

a {
	background-color: lightgrey;
	padding: 0.7em;
	text-decoration: none;
	border-radius: 50%;
	color: black;
	font-size: 20px;
}

.fa-square-facebook:hover {
	color: blue;
}

.fa-twitter:hover {
	color: cyan;
}

.fa-google-plus:hover {
	color: red;
}

.fa-linkedin:hover {
	color: rgb(0, 68, 255);
}

.fa-instagram:hover {
	color: lightskyblue;
}
